body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(./img/Limbo_bakgrunn.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #1e1e1e; 
   
}


p {
    font-size: 1,2rem;  
}


section {
    height: 100vh;  
}

.side1 {
    display:grid;
    justify-content: center;
    align-items: center;
    width:100vw;
}

.sitat1 {
    transform:translateX(-363px);
}
.side2 {
    display:grid;
    justify-content: center;
    align-items: center;
    width:100vw;
}

/* hjelp */
.sitater {
    line-height:1.6rem;
    transform:translateX(280px);   
}

.side3 {
    display:grid;
    justify-content: center;
    align-items: center;
    width:100vw;
}
/* hjelp */
.about {
    
    transform:translateX(250px);
}

span {
    font-size:1.5rem;
    line-height:4rem;
}


.gutt {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 60%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}


.limbotau  {
    position: absolute;
    width:900px;
    height:3840px;
    top:8%;
    left:50%;
    margin-top: -450px;
    margin-left:-480px;
    z-index:-1;

}

img.klippe {
    height: 800px;
    width:800px;
    position:absolute;
    left:-157px;
}


.hover-for-bein img{
    height: 200px;
    width: 200px;
    position:absolute;
    right:0;
}

.hover-for-bein img:nth-of-type(1){
    top:-150px;
}
.hover-for-bein img:nth-of-type(2){
    top:-50px;
}
.hover-for-bein img:nth-of-type(3){
    top:50px;
}


.hover-for-bein{
    position:relative;
    min-height:100vh;
    min-width:100vw;
    z-index:4;
}

.hover-for-bein:hover > .bein1 {
    animation: bein1 5s infinite ease-out alternate;
}

.hover-for-bein:hover > .bein2 {
    animation: bein2 5s infinite ease-out;
}

.hover-for-bein:hover > .bein3 {
    animation: bein3 5s infinite ease-out;
}






@keyframes bein1 {
    0% {
        transform: translateX(0) translateY(0);


    }

    100% {
        transform: translateX(+100px) translateY(100px);

    }




}



@keyframes bein2 {
    0% {
        transform: translateX(0) translateY(0);

    }

    20% {
        transform: translateX(+50px) translateY(20px);

    }

    100% {
        transform: translateX(0) translateY(0);
    }
}


@keyframes bein3 {
    0% {
        transform: translateX(-100) translateY(0);

    }

    20% {
        transform: translateX(+70px) translateY(-100px);

    }

    100% {
        transform: translateX(0) translateY(0);
    }
}