@media (max-width:1100px) {

    section {
        height:80vh;
    }

    header.stor {
        display:none;
    }

    

    .gutt {
        display:none;
    }
    
    .limbotau {
        display:none;
    
    }
    .hover-for-bein img {
        display:none;
    }

    .klippe {
        display:none;
    }
    .web {
        display:none;
    }
    
    body {
        background-size: 768px 5376px;
    }

    .side1 .sitat1 {
        transform: translateX(0);
        z-index:-2;
    }

    .mobile {
        display:contents;
        display:grid;
    }
    

    .hover-for-bein {
        display:none;
    }

    iframe {
        margin-left:auto;
        margin-right:auto;
        z-index: -1;
        transform: translateY(70px);
        
    }

    .sitater {
        transform: translateX(0);
        z-index:6;  
    }
/* bruh */
    div.logos {
        z-index:4;
    }
    .about {
        padding-left:2rem;
    padding-right: 2rem;
    transform: translateY(0);
    z-index:-2;
    }
    .playdead {
        transform: translateY(70px);
            margin-left:2rem;
            margin-right:2rem; 
            z-index:-2;  
    }

    /* burgermenu */

    #checkbox {
        display:none;
    }
    
    #checkbox:checked ~ .menu {
        left:720px;
    }
    
    #checkbox:checked ~ #burger div:first-child{
        transform:translateY(14px) rotate(45deg);
    }
    #checkbox:checked ~ #burger div:nth-child(2){
        transform:translatex(100vw);
    }
    #checkbox:checked ~ #burger div:last-child{
        transform:translateY(-14px) rotate(-45deg);
    }
    
    #burger {
        position:fixed;
        top:2rem;
        right:2rem;
        z-index:5;
        height:2rem;
        width:2rem;
        display:grid;
        grid-template-rows: 4px 4px 4px;
        align-content: space-between;
        cursor: pointer;
    
    }
    
    #burger div {
        background:rgb(133, 133, 133);
    }
    
    
    
    .menu {
        position:fixed;
        left:100vw;
        width: 30vw;
        height:100vh;
        background: #1b1b1b;
        display:grid;
        align-items:center;
        justify-items: start;
        transition: .3s ease-out;
        }
    
    .menu a {
        font-size:1rem;
        color:rgb(133, 133, 133);
        text-decoration: none;
        
    }

    nav.menu {
        
    }
    
    
    section {
        width: 100vw;
        height:100vh;
        display:grid;
        place-items:center;
    }
}

@media (max-width:880px) {
    #checkbox:checked ~ .menu {
        left:550px;
    }
@media (max-width:710px) {
    #checkbox:checked ~ .menu {
        left:400px;
    }
}
@media (max-width:500px) {
    #checkbox:checked ~ .menu {
        left:350px;
    }

    iframe {
        width:460px;
        
    }
}