body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5) ), url(./img/Limbo_bakgrunn.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(24, 24, 24, 0.985);
    overflow-x: hidden;
    background-size: 1366px 5376px;
    
}

a {
    text-decoration: none;
    
}

 /* burgermenu */

 #checkbox {
    display:none;
}

#checkbox:checked ~ .menu {
    left:720px;
}

#checkbox:checked ~ #burger div:first-child{
    transform:translateY(14px) rotate(45deg);
}
#checkbox:checked ~ #burger div:nth-child(2){
    transform:translatex(100vw);
}
#checkbox:checked ~ #burger div:last-child{
    transform:translateY(-14px) rotate(-45deg);
}

#checkbox:checked ~ .menu {
    left:80vw;
}

#burger {
    position:fixed;
    top:2rem;
    right:2rem;
    z-index:6;
    height:2rem;
    width:2rem;
    display:grid;
    grid-template-rows: 4px 4px 4px;
    align-content: space-between;
    cursor: pointer;

}

#burger div {
    background:rgb(133, 133, 133);
}




.menu {
    position:fixed;
    left:100vw;
    width: 20vw;
    height:100vh;
    background: #1b1b1b;
    display:grid;
    align-items:center;
    justify-items: start;
    transition: .3s ease-out;
    padding-left:40px;
    padding-top: 200px;
    padding-bottom: 200px;
    z-index:5;
    box-shadow: rgb(20, 20, 20) 0px 0px 4px 4px;
    }

.menu a {
    font-size:1rem;
    color:rgb(133, 133, 133);
    text-decoration: none;
    
}
.menu a:hover {
    color:rgb(235, 235, 235);

}

p {
    font-size: 1, 2rem;
    line-height: 1.6rem;
    font-family: 'Libre Baskerville', serif;
    color: #e2e2e2;
    
}


.anmelder {
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: bold;
    color:rgb(224, 224, 224);
    opacity:0.5;

}
span{
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: bold;
    color:rgb(224, 224, 224);
    

}



.anmelder:hover {
    opacity:1;
}




.sitater p {
    padding-bottom: 50px;
}




section {
    height: 100vh;
    max-width: 100vw;

}

.side1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.side1 .sitat1 {
    transform: translateX(-363px);
}

.mobile {
    display:none;
}


.hover-for-bein {
    display: grid;
    justify-content: center;
    align-items: center;
}


.sitater {

    line-height: 1.6rem;
    transform: translateX(-287px);

}

.side3 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.side4 {
    display: grid;
    justify-content: center;
    align-items: center;
    width:100vw;

}

iframe {
    margin-left:auto;
    margin-right:auto;
    z-index: 4;
    
}






.playdead span {
    color:color:rgb(224, 224, 224);
}

.playdead {
    margin-left:600px;
    margin-right:600px;
    margin-bottom:500px;
    color:rgb(224, 224, 224);
}

@media (max-width:1540px) {
    .playdead {
        margin-left:300px;
        margin-right:300px;
    }
}
@media (max-width:1060px) {
    .playdead {
        margin-left:200px;
        margin-right:200px;
    }

}
@media (min-width:1920px) {
    iframe {
        transform:translateY(-230px);
        
    }
    .playdead {
        transform: translateY(-450px);
        margin-left:700px;
        margin-right:700px;
        margin-bottom:0px;
    }
}

.side5 div {
    position: absolute;
    padding-left:20vw;
    padding-right:20vw;
    transform: translateX(50px) translateY(200px); 
}



.side5 img {
    
    height: 200px;
    width: 200px;
    opacity: 0.6;
    transition: ease-in-out 0.2s;
    
    padding:1rem;
}
@media (max-width:1400px){
    .side5 img {
        height:150px;
        width:150px;
    }
}
@media (min-width:1550px){
    .side5 img {
        transform:translateX(100px);
    }
}
@media (max-width:1052px){
    

    div.logos {
        padding-left:5vw;
    }
}
@media (max-width:842px){
    
    .side5 img {
        height:120px;
        width:120px;
    }
    div.logos {
        padding-left:5vw;
        
    }
}

.side5 img:hover {
    opacity: 1; 
}




.gutt {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 60%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.limbotau {
    position: absolute;
    width: 900px;
    height: 3840px;
    top: 8%;
    left: 50%;
    margin-top: -450px;
    margin-left: -480px;
    z-index: -1;

}


img.klippe {
    height: 800px;
    width: 800px;
    position: absolute;
    left: 42px;
    transform: translateX(-200px);
    /* position:sticky;
    top:0; */
}
 .web {
     position: relative;
     height:200px;
     width:200px;
     top:250px;
     left:303px;
 }

 @media (min-width: 1920px) {
     .web {
         top:185px;
     }
 }


 
@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(2deg);}
}
 
.web{
    transform-origin: 50% 0;
    transform-origin: 50% 0;
    animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}


.about {
    padding-left: 60vw;
    padding-right: 5rem;
    transform: translateY(-300px);
    
}





.hover-for-bein img {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 0;
}

.hover-for-bein img:nth-of-type(1) {
    top: -150px;
    transform: translateX(200px);
}

.hover-for-bein img:nth-of-type(2) {
    top: 50px;
    transform: translateX(200px);
}

.hover-for-bein img:nth-of-type(3) {
    top: 350px;
    transform: translateX(200px);
}


.hover-for-bein {
    position: relative;
    z-index: 4;
}

.hover-for-bein:hover>.bein1 {
    animation: bein1 3s infinite ease-out alternate;
}

.hover-for-bein:hover>.bein2 {
    animation: bein2 5s infinite ease-out alternate;
}

.hover-for-bein:hover>.bein3 {
    animation: bein3 3s infinite ease-out alternate;
}

@keyframes bein1 {
    0% {
        transform: translateX(200px) translateY(0px);



    }

    100% {
        transform: translateX(100px) translateY(100px);
        /* transform:rotateX(45deg);
        transform:rotateY(45deg); */

    }




}



@keyframes bein2 {
    0% {
        transform: translateX(100px) translateY(100px; );

    }

    100% {
        transform: translateX(0px) translateY(20px);

    }


}


@keyframes bein3 {
    0% {
        transform: translateX(200) translateY(0);

    }

    100% {
        transform: translateX(100px) translateY(50px);

    }


}